# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
# sites/*/files
sites/*/private
Iconr
behat
nuboot_radix-5febe414.css
